* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.dashboard {
    min-height: 100vh;

    display: grid;

    grid-template-columns: 230px 1fr;
    grid-template-rows: 80px 1fr;
}

header {
    grid-column: 1 / -1;

    background: #222;
    color: white;

    display: flex;
    align-items: center;

    padding: 0 30px;

    animation: load 0.8s ease;
}

aside {
    background: #333;
    color: white;
    padding: 30px;
}

aside h2 {
    margin-bottom: 25px;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 35px;

    animation: load 1s ease;
}

main > h2 {
    margin-bottom: 25px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 12px;

    transition: transform 0.3s ease,
                box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.04);
    box-shadow: 0 10px 20px #bbb;
}

.card h3 {
    margin-bottom: 15px;
}

.card p {
    line-height: 1.6;
}

@keyframes load {

    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

@media (max-width: 750px) {

    .dashboard {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
    }

    header {
        grid-column: 1;
    }

    aside {
        order: 2;
    }

    main {
        order: 3;
    }

    .cards {
        grid-template-columns: 1fr;
    }

}