* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.content {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 50px;
}

section {
    max-width: 900px;
}

h1 {
    font-size: clamp(1.5rem, 4vw, 3rem);
    margin-bottom: 25px;
}

p {
    font-size: clamp(1rem, 2vw, 1.5rem);
    line-height: 1.6;
}

@media (max-width: 700px) {

    .content {
        padding: 25px;
    }

    p {
        line-height: 1.8;
    }

}