* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #dff6ff, #e8ddff);
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 400px;
    padding: 35px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 25px #aaa;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card h1 {
    text-align: center;
}

input, select, button {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

input:focus, select:focus {
    outline: 3px solid #a5d8ff;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    flex: 1;
    background: #3498db;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #217dbb;
}